* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left_sidebar {
    padding: 45px 45px;
    max-width: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50px;
    height: 50px;
}

.chart_icon:hover {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(255, 136, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
