* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
}

.side_bar {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    align-items: center;
}

.menu_buttons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
    padding: 20px;

}

.menu_buttons button {
    width: 40px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: white;
    transition: 0.3s ease-in;
}

.menu_buttons button:hover {
    background-color: orange;
    border-radius: 10px;
    transform: scale(1.2);

}
